doctype html
html(lang="es")
	
	head
		title= titulo
		link(href="stylesheets/style.css", rel='stylesheet')
		link(href="/sweetalert/dist/sweetalert.css", rel="stylesheet")
		link(rel="stylesheet", href="/sweetalert/dist/sweetalert.css")
		script(type='text/javascript', src="/socket.io/socket.io.js")
		script(type="text/javascript", src="/jquery/dist/jquery.min.js")
		script(type='text/javascript', src="javascripts/chatCliente.js")
		script(type="text/javascript", src="/sweetalert/dist/sweetalert.min.js")

	body
		h1 
			a(href="/")=titulo
			

		div.contenedor

		
		- for (var i = 0; i < camisetas.length ; ++i) {
			div.item
				h2="Camiseta " +camisetas[i].titulo
				img(src=camisetas[i].imagen, width="250")
				a(href="/tienda/comprar/" + camisetas[i].titulo  ).comprar  Comprar
		- }

		button(id="btnChat").agregar Chat

		include chat.jade